*{margin:0; padding:0; box-sizing: border-box;}

li{
    list-style: none;
}
body{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 18px;
}
h1{
    text-align: center;
    margin-top: 100px;
}
.btns{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.btn{
    background-color: black;
    color:#fff;
    width: 20%;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
}
.items{
    border:1px solid #333;
    display: flex;
    justify-content: space-between;
} 

