* {margin:0; padding:0; box-sizing: border-box;}
#wrap{
    width: 70%;
    margin:50px auto;
    background: coral;
    padding: 2px;
}
.div-scoreboard{
    border: 2px solid #fff;
    text-align: center;
    color: #fff;
}
.div-short-left {
    padding-top: 20px;
    line-height: 40px;
}
#short-left{
    background: black;
    width: 80px;
    display: inline-block;
}
.div-score {
    display: flex;
    justify-content: center;
}
.div-score-list{
    border: 1px solid #fff;
    width:30%;
    padding:40px;
    margin: 20px;
}
.div-score-list div:nth-child(2){
    background: black;
    line-height: 40px;
    margin-top:20px;
}
#text {
    padding:30px;
}
.div-control-panel {
    background-color: tomato;
    display: flex;
    justify-content: center;
}
.div-control-panel > div {
    padding:30px;
    margin: 30px;
    text-align: center;
    color:#fff;
}
button{
    padding:10px 20px;
}